name: Deploy to Docker Hub

on:
  push:
    branches: [ "main" ] # Kod 'main' dalına atılınca çalışır

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: pull code
        uses: actions/checkout@v3

      - name: login docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: forpayrg/dentistan:latest